:root {
  --orange: #fe6903;
  --bodyColor: #fafafa;
  --nhs-main-blue: #0072ce;
  --nhs-second-blue: #0164ce;
  --nhs-light-blue: #98bee5;
  --nhs-green-tick: #009639;
  --boot-placeholder: #626466;
  --white: #ffff;
  --dark1: #2d2d2d;
  --dark2: #505050;
  --dark3: #9c9c9c;
  --dark4: #c2c2c2;
  --dark-light: #d4d4d4;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  font-family: "Figtree", sans-serif;
  background-color: var(--bodyColor);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  /* color: var(--dark2); */
  font-size: 18px;
  font-weight: normal;
}

.hero-section {
  min-height: 8rem;
  padding-bottom: 6rem;
}

/* -------------------------- 
Added padding to the x-axis to make the category items smaller 
- Make sure to change this on smaller devices!!!
*/
.main-form {
  padding: 0 10rem;
}
/* ------------------------- */

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.category {
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}

/* remove input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* .additional-info-label {
  width: 80px;
} */

.category input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 1;
}

.select2 {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  padding-left: 2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--boot-placeholder);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search {
  padding: 0 !important;
}

.category input[type="checkbox"]:hover {
  border: 4px solid var(--dark-light);
}

.category input[type="checkbox"]:checked {
  border: 4px solid var(--nhs-main-blue);
}

.category input[type="checkbox"]:checked ~ .device-title {
  background-color: var(--nhs-main-blue);
  color: var(--white);
}

.device-img {
  height: 200px;
  aspect-ratio: 1;
  /* object-fit:contain; */
}

.submit-btn {
  display: inline-block;
  width: max-content;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: var(--nhs-main-blue);
  border-radius: 10px;
  font-size: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset; */
}

.submit-spinner {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  box-shadow: 15px 0px 0 0 rgba(0, 110, 227, 0.2),
    12px 9px 0 0 rgba(0, 110, 227, 0.4), 5px 14px 0 0 rgba(0, 110, 227, 0.6),
    -5px 14px 0 0 rgba(0, 110, 227, 0.8), -12px 9px 0 0 #006ee3;

  animation: submit-spinner 1s infinite linear;
}

@keyframes submit-spinner {
  to {
    transform: rotate(360deg);
  }
}

.submit-btn:hover {
  background-color: var(--nhs-second-blue);
}

body.modal-open {
  padding-right: 12px !important;
}

.custom-modal-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bx-check-circle {
  font-size: 6rem;
  font-weight: 100;
  color: var(--nhs-green-tick);
}

.modal-success-msg {
  color: #0b1215;
}

.loan-success-items > li {
  padding: 0 0 0.2rem;
}

.custom-modal-footer {
  padding: 1rem;
  text-align: center;
}

/* ------- Media Queries for responsive ------- */

@media only screen and (max-width: 1200px) {
  .main-form {
    padding: 0;
  }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 800px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .categories {
    grid-template-columns: 1fr;
  }
}
