:root {
  --orange: #fe6903;
  --bodyColor: #fafafa;
  --nhs-main-blue: #0072ce;
  --nhs-light-blue: #98bee5;
  --boot-placeholder: #626466;
  --white: #ffff;
  --dark1: #2d2d2d;
  --dark2: #505050;
  --dark3: #9c9c9c;
  --dark4: #c2c2c2;
  --dark-light: #d4d4d4;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: "Figtree", sans-serif;
  background-color: var(--bodyColor);
}

.nav-link {
  /* color: var(--dark2); */
  font-size: 18px;
  font-weight: normal;
}

.hero-section {
  min-height: 8rem;
  padding-bottom: 6rem;
}

/* .equipment-btn {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background: #008060;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
} */



/* -------------------------- 
Added padding to the x-axis to make the category items smaller 
- Make sure to change this on smaller devices!!!
*/
.main-form {
  padding: 0 10rem;
}
/* ------------------------- */

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.category {
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}

/* remove input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.additional-info-label {
  width: 80px;
}

.category input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 1;
}

.category input[type="checkbox"]:hover {
  border: 4px solid var(--dark-light);
}

.category input[type="checkbox"]:checked {
  border: 4px solid var(--nhs-main-blue);
}

.category input[type="checkbox"]:checked ~ .device-title {
  background-color: var(--nhs-main-blue);
  color: var(--white);
}

@media (max-width: 800px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .categories {
    grid-template-columns: 1fr;
  }
}

.device-img {
  height: 200px;
  aspect-ratio: 1;
  /* object-fit:contain; */
}

.submit-btn {
  display: inline-block;
  width: max-content;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background: #008060;
  border-radius: 10px;
  font-size: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset; */
}
