{%extends "base.html"%} 

{% block content%}
<h3 class="text-center">Select items to loan</h3>
<form method="post" action="">
  {% csrf_token %}
  <div class="categories">
    {% for model in form.fields.selected_model.queryset %}
    <label class="category d-flex">
      <input type="checkbox" hidden name="selected_model" value="{{ model.pk }}" />
      <img src="{{ model.image.url }}" class="img-fluid" alt="{{ model.display_name }}" />
      <div class="category-name">{{ model.display_name }}</div>
    </label>
    {% endfor %}
  </div>
  <!-- Location dropdown -->
  <div class="location">
    <label for="id_location">Select Location:</label>
    {{ form.location }}
  </div>
  <button type="submit">Submit</button>
</form>
{% endblock content %}
