{%extends "base.html"%} {% block content%}
<h3 class="text-center mb-4">Select items to loan</h3>
<form method="post" action="" class="needs-validation" novalidate>
  {% csrf_token %}
  <div class="categories mt-3 mb-4">
    {% for model in form.fields.selected_model.queryset %}
    <label class="category d-flex flex-column gap-3 bg-white">
      <input type="checkbox" name="selected_model" value="{{ model.pk }}" />
      <img
        src="{{ model.image.url }}"
        class="device-img object-fit-contain p-3"
        alt="{{ model.display_name }}"
      />
      <div class="device-title pb-3 text-center fw-bold">
        <h5 class="mb-0">{{ model.display_name }}</h5>
      </div>
    </label>
    {% endfor %}
  </div>
<div class = 'form-group'>
  <div class="col-md-6 mb-3">
    <label for="id_location" class="form-label">Location</label>
    <select class="form-select" id="location" required>
      {% for location in form.location %}
      <option value="{{ location }}">{{ location }}</option>
      {% endfor %}
    </select>
    <div class="invalid-feedback">Invalid option.</div>
  </div>
  <div class="row col">
    <div class="col-md-3 mb-3">
      <label for="validationServer01" class="form-label">Name</label>
      <input type="text" class="form-control" id="validationServer01" required />
      <div class="invalid-feedback">Name can not be empty!</div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer02" class="form-label">Extension</label>
      <input type="text" class="form-control" id="validationServer02" required />
      <div class="invalid-feedback">Extension can not be empty!</div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>

  <div class="col-12">
    <button class="btn btn-danger" type="submit">Submit</button>
  </div>
</form>
</div>
{% endblock content %} 

{% block scripts %}
<script>
  $("#id_location").select2();

  const forms = document.querySelectorAll(".needs-validation");

  // Loop over them and prevent submission
  Array.from(forms).forEach((form) => {
    form.addEventListener(
      "submit",
      (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add("was-validated");
      },
      false
    );
  });
</script>

{% endblock %}
