{%extends "base.html"%}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>

</head>
<!-- <body>
  <h1>Categories</h1>
  <form method="post" action="">
      {% csrf_token %}
      <div class="categories">
          {% for category in categories %}
              <label class="category">
                  <input type="checkbox" name="selected_categories" value="{{ category.equip_category_id }}">
                  <img src="{{ category.image.url }}" alt="{{ category.name }}">
                  <div class="category-name">{{ category.name }}</div>
              </label>
          {% endfor %}
      </div> -->
      <!-- <div class="location">
        <label for="id_location">Select Location:</label>
        {{ form.location }}
      </div> -->
      <!-- <button type="submit">Submit</button>
  </form> -->

  <h3>Select items to loan</h3>
  <form method="post" action="">
      {% csrf_token %}
      <div class="categories">
          {% for category in form.fields.selected_categories.queryset %}
              <label class="category">
                  <input type="checkbox" name="selected_categories" value="{{ category.id }}">
                  <img src="{{ category.image.url }}" alt="{{ category.name }}">
                  <div class="category-name">{{ category.name }}</div>
              </label>
          {% endfor %}
      </div>

      <!-- Location dropdown -->
      <div class="location">
          <label for="id_location">Select Location:</label>
          {{ form.location }}
      </div>

      <button type="submit">Submit</button>
  </form>
</body>
</html>

    {% endblock content %}
